---
---
@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";
@import "elements";
@import "landing-page";
@import "layout";
@import "pricing";
@import "staff";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";

/* PASTE YOUR NEW CSS HERE */
.hero {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        url('/images/my_background.gif') center/cover no-repeat;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
