---
title: About Our Team
description: >-
  We are a dedicated team from Hawaii committed to empowering our community with financial and technological stability and independence.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>

<div class="about-us">
  <p>We are a passionate team based in Hawaii, dedicated to helping our community thrive through financial literacy, technological empowerment, and independence. Our mission is to educate, inform, and equip people with the latest news, tools, and strategies necessary to achieve financial and technological stability.</p>

  <p>Through comprehensive education, hands-on workshops, and timely updates, we strive to make complex financial and tech topics accessible to everyone, supporting our community's journey toward self-sufficiency and prosperity.</p>
</div>

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
