<!-- _includes/sidebar.html -->
<div class="sidebar">
    <div class="sidebar-section">
      <h5><span>Search</span></h5>
      {% include search.html %}
    </div>
  
    <div class="sidebar-section">
      <h5><span>Useful Links</span></h5>
      <ul style="list-style: none;">
        <li><a target="_blank" rel="noopener noreferrer" href="/thoughts/">TODO</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="/thoughts/">TODO 2</a></li>
      </ul>
    </div>
  
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- sidebar -->
    <!--TODO google ads typically goes here-->
  </div>